# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\classDesign\translation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
